@import 'tailwindcss';

:root {
  --background: #000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-nunito-sans);
  --font-serif: var(--font-cinzel);
}

body {
  background: var(--background);
  color: #fff;
  font-family: var(--font-nunito-sans), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-cinzel), serif;
  user-select: none;
}

@layer utilities {
  .heading-xl {
    @apply text-4xl !leading-tight font-[500] tracking-tight sm:text-5xl md:text-6xl;
  }
  .heading-lg {
    @apply text-3xl !leading-tight font-[500] tracking-tight sm:text-4xl md:text-5xl;
  }
  .heading-md {
    @apply text-2xl leading-tight font-[500] tracking-normal sm:text-3xl;
  }
  .heading-sm {
    @apply text-base leading-tight font-[500] tracking-normal md:text-lg lg:text-xl;
  }

  /* Capitalised overline heading */
  .subheading {
    @apply text-sm tracking-wide uppercase sm:text-base;
  }

  .paragraph-lg {
    @apply text-lg tracking-tight lg:text-xl;
  }
  .paragraph {
    @apply text-base lg:text-lg;
  }
  .paragraph-sm {
    @apply text-sm lg:text-base;
  }
  .paragraph-xs {
    @apply text-xs lg:text-sm;
  }
}
