@import 'tailwindcss';

:root {
  --background: #0f0d0f;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: #fff;
  --font-sans: var(--font-nunito-sans);
  --font-serif: var(--font-cinzel);
}

@theme {
  --color-black: #0f0d0f;
}

body {
  background: var(--background);
  color: #fff;
  font-family: var(--font-nunito-sans), sans-serif;
}

button,
a {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-cinzel), serif;
  user-select: none;
}

@layer utilities {
  .heading-xl {
    @apply text-4xl leading-tight! font-medium tracking-tight sm:text-6xl md:text-8xl;
  }
  .heading-lg {
    @apply text-3xl leading-tight! font-medium tracking-tight sm:text-4xl md:text-5xl;
  }
  .heading-md {
    @apply text-2xl leading-tight font-medium tracking-normal sm:text-3xl;
  }
  .heading-sm {
    @apply text-base leading-tight font-medium tracking-normal md:text-lg lg:text-xl;
  }

  .paragraph-lg {
    @apply text-lg tracking-tight lg:text-xl;
  }
  .paragraph {
    @apply text-base lg:text-lg;
  }
  .paragraph-sm {
    @apply text-sm lg:text-base;
  }
  .paragraph-xs {
    @apply text-xs lg:text-sm;
  }
}
